# api configuration
API_KEY=<Your-API-Key-Here>

# valheim server configuration
SERVER_NAME=<Your-Server-Name-Here>
WORLD_NAME=<Your-World-Name-Here>
SERVER_PASS=<Your-Server-Password-Here>

# auto-shutdown configuration
IDLE_TIMEOUT_MINUTES=<Number-Of-Minutes-Of-Idle-Time-Before-Shutdown>
